NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=http://localhost/smanilum/backend/public
NEXT_PUBLIC_SUPABASE_URL=https://fmvljjyejyqoqeaxpexe.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Ries-dtwe88Fz2aQfzqz4g_ErorHvNl
